.st0 {
    fill: #D7E8F0;
}

.st1 {
    fill: none;
    stroke: #CCDDE2;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #3FBDF1;
}

.st3 {
    fill: #FFFFFF;
}

.st4 {
    opacity: 0.72;
}

.st5 {
    opacity: 0.72;
    fill: #3FBDF1;
    enable-background: new;
}

.st6 {
    fill: none;
    stroke: #0A2A42;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #0A2A42;
}

.st8 {
    fill: #6ACFC9;
}

.st9 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 4.65;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st10 {
    fill: #CCDDE2;
}

.st11 {
    fill: #FD5F52;
}

.st12 {
    fill: #FDBA34;
}

.st13 {
    fill: #28CB44;
}