.header {
    position: fixed;
    z-index: 10;
    display: flex;
    width: 100%;
    // background-color: var(--dark-accent);
    align-items: center;
    mix-blend-mode: difference;
    transition: .5s;

    @media screen and (max-width: 768px) {
        background-color: #2a2a2a;
        mix-blend-mode: unset;
    }

    .logo {
        flex: 1;
    }
    div {
        display: flex;
        align-items: center;
        padding: 0 15px;
        cursor: pointer;
        a {
            text-decoration: none;
            color: var(--accent-color)
        }
        &:last-child {
            color: var(--accent-color);
            font-size: 2em;
            margin-right: 20px;
            border: 1px solid var(--accent-color);
            border-radius: 5px;
        }
    }
}


#SvgjsG4202, #SvgjsG403 {
    @media screen and (max-width: 768px) {
        fill: white;
    }
}

.drawer {
    position: fixed;
    top: 100px;
    right: 40px;
    display: flex;
    flex-flow: column;
    font-size: 2em;
    z-index: 5;
    height: 0;
    overflow-y: hidden;

    transition: .25s;

    @media screen and (max-width: 768px) {
        background-color: #2a2a2a;
        width: 100%;
        right: 0;
        span {
            margin: 0 auto;
            padding: 40px 80px;
        }
    }
    
    @keyframes slideToClose {
        0% {
            height: 100%;
        }

        100% {
            height: 0%;
        }
    }

    span {
        a {
            text-decoration: none;
            z-index: 5;
            color: var(--accent-color);
            &:visited {
                color: var(--accent-color)
            }
        }
    }
}


.open {
    height: 240px;
    animation: slideToOpen ease-in-out .25s;
}

@keyframes slideToOpen {
    0% {
        height: 0;
    }

    100% {
        height: 240px;
    }
}