.skills {
    padding-bottom: 30px;
    padding-top: 60px;
    background-color: var(--main-bg-darker-color);
    h3{
        text-align: center;
        font-size: 2em;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .dflex {
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        padding: 20px;
        .icon-card {
            font-size: 4em;
            flex: 1 1 12%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            height: 150px;
            margin: 10px;
            border-radius: 16px;
            background-color: var(--main-bg-color);
            // align-items: center;
            padding: 5px;
            box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
            transition: all .25s;
            &:hover {
                box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
            }
            // border: 1px solid black;
            figure {
                text-align: center;
                transition: .25s all;
                margin: 0;
                &:hover {
                    font-size: 1.05em;
                    color: #444;
                }
            }
            figcaption {
                font-size: .3em;
            }
        }
    }
}