@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

:root {
    --main-bg-color: #fff;
    --bg-main-txt-color: #000;

    --dark-bg-color: #000;
    --bg-dark-txt-color: #fff;

    --accent-color: #0171B5;
    --main-bg-darker-color: #f6f6f6;

    --dark-accent: #2a2a2a;
}

body {
    margin: 0;
    // background-color: #000;
    background-color: var(--main-bg-color);
    color: var(--bg-white-txt-color);
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    user-select: none;
    -webkit-user-drag: none;
}

.page-container {
    max-width: 1260px;
    margin: 0 auto;
}

.dflex {
    display: flex;
}